# Archivos de Visual Studio
.vs/
*.vscode/
*.user
*.suo
*.cache
*.sln.docstates

# Compilados
bin/
obj/
Debug/
Release/
[Bb]uild/
out/

# Paquetes NuGet
packages/
*.nupkg
project.lock.json

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Configuración local
*.dbmdl
*.jfm
*.pdb
